flow.json
[
    {
        "id": "b9e8f3a16280592b",
        "type": "tab",
        "label": "Test Flow - 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cceef087f30bf8e8",
        "type": "function",
        "z": "b9e8f3a16280592b",
        "name": "Test 1",
        "func": "msg.topic = msg.topic + \", this is a test project\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 300,
        "wires": [
            [
                "f66eb894340ebc5a"
            ]
        ]
    },
    {
        "id": "74edc88793283f4f",
        "type": "inject",
        "z": "b9e8f3a16280592b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Hello World",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 300,
        "wires": [
            [
                "cceef087f30bf8e8"
            ]
        ]
    },
    {
        "id": "f66eb894340ebc5a",
        "type": "debug",
        "z": "b9e8f3a16280592b",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 300,
        "wires": []
    }
]